<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/landing_page.css">
    <meta name="description" content="DroneWx takes the guesswork out of weather planning for UAS pilots, enhancing safety through situational awareness">
    <title>Welcome to DroneWx</title>
</head>
<body>
    <div class="container">
        <div class="landingpage_info">
            <h1>DroneWx</h1>
            <div class="main-content">
                <h2>Enhanced Situational Awareness For Safer Remote Flights</h2>
                <h5>
                    DroneWx streamlines weather planning for UAS pilots
                </h5>
            </div>
        </div> <!-- landingpage_info -->

        <div class="cta">
            <div class="signup">

                <form action="/signup" method="POST">
                    <h2>Sign Up for Free</h2>
                    {% with messages = get_flashed_messages() %}
                        {% if messages: %}
                            <ul>
                                {% for message in messages: %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    <div class="label-input-group">
                        <label for="first_name" id="first_name">First Name: <span class="req">*</span></label>
                        <input type="text" id="first_name" name="first_name">
                    </div>
                    <div class="label-input-group">
                        <label for="last_name" id="last_name">Last Name: <span class="req">*</span></label>
                        <input type="text" id="last_name" name="last_name">
                    </div>
                    <div class="label-input-group">
                        <label for="email" id="email">Email: <span class="req">*</span></label>
                        <input type="text" id="email" name="email">
                    </div>
                    <div class="label-input-group">
                        <label for="password" id="password">Password: <span class="req">*</span></label>
                        <input type="password" id="password" name="password">
                    </div>
                    <div class="label-input-group">
                        <label for="conf_pass" id="conf_pass">Confirm Password: <span class="req">*</span></label>
                        <input type="password" id="conf_pass" name="conf_pass">
                    </div>

                    <div class="signup-login">
                        <button>Sign Up</button>
                        <div class="already-account">
                            <p>Already have an account?</p>
                            <a href="/pilot_login">Log in</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    
    <footer>© Copyright 2023 Nick Barker. All rights reserved.</footer>
       
</body>
</html>